@charset "utf-8"; /* FONT AND COLOR */

html {

}
body {
  /* BACKGROUND */
  background-image     : url("../graphics/stones-dark.jpg");
  background-repeat    : no-repeat;
  background-size      : cover;
  background-attachment: fixed;
  /* FONT */
  font-family: 'MedievalSharp', cursive;
  color      : #a9a9b3;
}
.overlay {
  background-color   : rgba(0, 0, 0, 0.5);
}

/* LINKS */
a {
  text-decoration: none;
  color: #a9a9b3;
}
a:hover {
  text-decoration: none;
}

/* HEADERS FORMATTING */
h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/* PAYMENTS BOX */
/* tab color */
.nav-tabs>li>a {
  background-color: #333333; 
  border-color: #777777;
  color:#a9a9b3;
}
/* active tab color */
.nav-tabs>li>a.active, .nav-tabs>li>a.active:hover, .nav-tabs>li>a.active:focus {
  color: #fff;
  background-color: #6db060;
  border: 1px solid #888888;
}
/* hover tab color */
.nav-tabs>li>a:hover {
  border-color: #000000;
  color: #6db066;
}
/* 
#payments a {
  color: #a9a9b3
}
#payments a:hover {
  color: #6db060;
} */

/* PAYPAL CONTAINER */
#paypal select {
  font-weight: bold;
}

/* CRYPTO CONTAINER */
.crypto i {
  font-size: 2.8rem;
}
.crypto i:hover {
  -webkit-transform: scale(1.15);
  -ms-transform    : scale(1.15);
  transform        : scale(1.15);
  color            : #6db060;
  opacity          : 0.7;
}
.crypto span:hover {
    color  : #6db060;
    opacity: 0.7;
}

/* PRINTS */
#prints img {
  opacity: 0.7;
}

#prints img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform    : scale(1.1);
  transform        : scale(1.1);
  opacity: 1;
}
#prints i {
  font-size: 3rem;
}
#prints i:hover {
  -webkit-transform: scale(1.15);
  -ms-transform    : scale(1.15);
  transform        : scale(1.15);
  color            : #6db060;
  opacity          : 0.7;
}

/* PRINTS */
#discord img {
  opacity: 0.5;
}

#discord img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform    : scale(1.1);
  transform        : scale(1.1);
  opacity: 1;
}

/* LINKS */
#navLink {
  color: #a9a9b3;
}
#navLink i {
  font-size: 4rem;
}
#navLink:hover i,
#navLink:hover h3 {
  color: black;
}
#navLink {
  border               : 1px solid black;
  border-radius        : 1rem;
  background-color     : rgba(0, 0, 0, 0.5);
}
#navLink:hover {
  background-color: rgba(109, 176, 96, 0.2);
}


/* FOOTER  */
.footer {
  background-color: rgba(0, 0, 0, 0.7);
  margin-top      : 150px;
  bottom          : 0;
  padding         : 15px;
}

.copy a {
  color                : #a9a9b3;
  text-decoration-style: dotted;
}

.copy a:hover {
  color                : #6db060;
  text-decoration-style: dotted;
}
  
  /* MEDIA QUERIES */

